<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Exercise Tracker</title>
</head>
<body>
  <h1>Exercise Tracker</h1>

  <form action="./exercise/new-user" method="post">
    <label for="username">Create a New User</label>
    <input type="text" name="username">
    <input type="submit" value="Create User">
  </form>

  <form action="./exercise/add" method="post">
    <label for="username">New Exercise</label>
    <input type="text" name="username">
    <input type="text" name="description">
    <input type="number" name="duration">
    <input type="date" name="date">
    <input type="submit" value="Add Exercise">
  </form>

  <form action="" method="get"></form>
  
</body>
</html>